<div
    class="li-shadow rounded-xl text-cyan-300 bg-[#01102d] h-[350px] sm:h-[450px] flex flex-col items-center justify-between py-24 sm:py-32 w-full sm:w-11/12  mx-auto text-center">
    <div class="text-xl sm:text-2xl font-bold">
        <h1>{{ card.topic }}</h1>
    </div>
    <div class="text-sm xs:text-md sm:text-lg xl:text-xl font-bold">
        <button type="button" (click)="applyHClass()"
            class="md:px-2 md:py-4 px-8 py-4 lg:px-8 lg:py-4 rounded-lg hover:border-[#01102d] hover:bg-cyan-300 hover:text-[#01102d] duration-500 border-solid li-shadow text-cyan-300 bg-[#01102d]">
            იხილეთ ინფორმაცია
        </button>
    </div>
    <app-modal-template (hideEl)="applyHClass()" [information]="card.info" [title]="card.topic" [ngClass]="{'hidden': !isHiddenCApplied}"></app-modal-template>
</div>