<section class="hero flex-col items-center justify-center">
    <div class="bg-div border-b border-cyan-300 flex justify-center bg-contain">
        <div
            class="mx-auto flex justify-center items-start lg:space-y-20 h-[850px] xs:h-[700px] sm:h-[700px] md:h-[500px] xl:h-[600px] max-w-screen-full sm:max-w-screen-full md:max-w-screen-lg lg:max-w-screen-xl">
            <div
                class="flex flex-col md:flex-row gap-0 justify-center md:gap-5 items-center w-full bg-transparent py-8 lg:py-20">
                <div
                    class="w-full md:w-7/12 px-2 sm:px-12 text-cyan-100 md:pr-0 lg:pl-20 py-6 md:text-start text-center">
                    <h1 class="text-4xl lg:text-5xl pb-4">ხელოვნური ინტელექტი</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
                        natus repellat, cumque eveniet accusamus omnis. Distinctio, delectus
                        consequatur veniam nam qui, labore saepe cupiditate amet rem
                        repellat corporis repellendus modi! Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Libero vitae sequi, quo sint aut ex
                        voluptatem voluptas laborum eveniet iste consequatur laudantium? Nam
                        aperiam quisquam quos fuga explicabo, vitae debitis.
                    </p>
                </div>
                <div class="relative w-full md:w-1/2 h-full flex justify-center items-center">
                    <img src="../../../../assets/images/ai-pitch-black-vitomsvg.png"
                        class="cursor-pointer h-[250px] md:h-[350px] ai-black-vitomsvg" />
                </div>
            </div>
        </div>
    </div>

    <!--Next Content-->

    <div class="mx-auto max-w-full md:max-w-screen-lg lg:max-w-screen-xl">
        <div class="px-4 sm:px-12 gap-y-8 py-20 flex flex-col md:flex-row justify-between md:gap-x-20 lg:gap-x-40">
            <!-- Buttons -->
            <app-cards *ngFor="let card of cards" [card]="card"></app-cards>
        </div>
    </div>

    <div
        class="mx-auto flex flex-col justify-center items-center lg:space-y-0 lg:px-36 max-w-screen-full sm:max-w-screen-full md:max-w-screen-lg lg:max-w-full">
        <div
            class="flex flex-col md:flex-row gap-0 mx-auto justify-center md:gap-5 items-center w-full bg-transparent py-8 lg:py-20">

            <div class="relative w-full md:w-1/2 h-full flex justify-center items-center">
                <img src="../../../../assets/images/ai-pitch-black-vitomsvg.png"
                    class="cursor-pointer h-[250px] md:h-[350px] ai-black-vitomsvg" />
            </div>
            <div class="w-full md:w-1/2 px-4 sm:px-12 text-cyan-100 md:pr-0 lg:pl-20 py-6 md:text-start text-center">
                <h1 class="text-xl lg:text-3xl xl:text-4xl pb-4 text-cyan-500">Ხელოვნური ინტელექტის გამოყენება დღევანდელობაში.</h1>
                <div class="flex flex-col gap-y-12 md:gap-y-1 xl:gap-y-2">
                    <p class="p-line">
                        Ხელოვნური ინტელექტის ეპოქაში , ადამიანებს სხვადასხვა სფეროში აქვთ უსაზღვრო შესაძლებლობები და მოდით
                        მოკლედ ვისაუბროთ ამ შესაძლებლობებზე , რასაც ადამიანები ყოველდღიურად იყენებენ.
                    </p>
                    <p class="p-line">
                        Პირველი ეს იქნება ალბათ - ასისტენტები . ხელოვნურ ინტელექტზე დაფუძნებულ ასისტენტებს, როგორებიც არიან
                        მაგალითად Siri , Alexa და Google Assistant , ყოველდღიურ ცხოვრებაში იყენებს ადამიანი. Ისინი აღიქვამენ
                        ადამიანის ენას , პასუხობენ შეკითხვებს და მრავალი საშუალებით გვიადვილებენ ცხოვრებას.
                    </p>
                    <p class="p-line">
                        Გაგიკვირდებათ და ხელოვნურ ინტელექტზეა დაფუძნებული პერსონალიზირებული რეკომენდაციები . დარწმუნებული
                        ვარ ხშირად გიფიქრიათ თუ რატომ გხვდებათ ინტერნეტში მხოლოდ ისეთი პროდუქტები, ფილმები , ინფორმაციები
                        რითიც დაინტერესებული ხართ და მოგწონთ, ეს სწორედ ხელოვნური ინტელექტის დახმარებით ხორციელდება ,
                        ხელოვნური ინტელექტი აანალიზებს თქვენს ინტერესებს და ამის მიხედვით იქმნება თქვენი რეკომენდაციები.
                    </p>
                    <p class="p-line">
                        Ასევე დღითიდღე უფრო და უფრო ვითარდება ხელოვნური ინტელექტი მედიცინაში , ძირითადად დიაგნოსტიკაში .
                        ხელოვნური ინტელექტი უფრო აკურატულ და სწრაფ დიაგნოსტიკას ატარებს.
                    </p>
                    <p class="p-line">
                        Ხშირად გვსმენია ავტოპილოტებზე , თავისით მოსიარულე მანქანებზე , რომლებიც დროთა განმავლობაში
                        უმჯობესდება და მომავალში უფრო უსაფრთხო ტრანსპორტირებას გვპირდება.
                    </p>
                    <p class="p-line">
                        Ძალიან გავრცელებულია ენის მთარგმნელი ხელოვნური ინტელექტიც, რომელსაც ძალიან ხშირად ვიყენებთ თითოეული
                        ჩვენგანი. Ამ ხელოვნური ინტელექტის საშუალებით შეგვიძლია ვესაუბროთ ნებისმიერ ადამიანს , გავიგოთ
                        ნებისმიერი უცხო ენოვანი ინფორმაცია , დავიხმაროთ ენის შესწავლაში და ა.შ.
                    </p>
                    <p class="p-line">
                        Კიდევ მრავალნაირად გამოიყენება ხელოვნური ინტელექტი , როგორც მანამდე ვახსენეთ , ხელოვნური ინტელექტი
                        უსაზღვრო შესაძლებლობას ანიჭებს ადამიანს და ეს ყოველდღიურად მტკიცდება. Ხელოვნური ინტელექტის
                        განვითარება დიდ როლს თამაშობს კაცობრიობაზე და ყოველდღიურად ახალ ინოვაციებს გვთავაზობს.
    
                    </p>
                </div>
            </div>
        </div>

        <p class="text-cyan-500 text-lg text-center">Ამ ყველაფრის ცოდნით კი შეგვიძლია დავასკვნათ, რომ </p>
        <h1 class="text-2xl lg:text-3xl xl:text-4xl text-center text-cyan-500 pb-20 py-8 lg:pb-40">
            Ხელოვნური ინტელექტი მომავალია.
        </h1>
    </div>


</section>