.bg-div {
    background-image: url(../../../../assets/images/ai-photo.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100%;
    position: relative;
}
.p-line::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: cyan;
    margin-right: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
}

.carousel {
    scroll-snap-type: x mandatory;
    scroll-padding-top: 0 24px;
}

.carousel .item { 
    scroll-snap-align: start;
}

@media (min-width: 480px){    
    .shadow-effect{
        background: linear-gradient(to left, rgba(0,0,0, 1), rgba(0,0,0, 0.9), rgba(0,0,0, 0.75), rgba(0,0,0, 0.5), rgba(255,255,255,0));
    }
}