.bg-div{
    background-image: url(../../../../assets/images/ai-photo.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100%;
    position: relative;
}
.p-line::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: cyan;
    margin-right: 10px;
    border-radius: 50%;
    transform: translateY(-5px);
}