@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #01102d;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 247, 255, 0.2);
    border-radius: 10px;
    border:none;
}

::-webkit-scrollbar {
    width: 12px;
    background: #01102d;
    border:none;
}

::-webkit-scrollbar-track {
    background: #01102d;
    border-radius: 10px;
    border:none;
}

::-webkit-scrollbar-track-piece{
    background-color: #01102d;
    border:none;
}

.li-shadow {
  box-shadow: 0 0 0 cyan, 0 0 5px cyan;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.li-shadow:hover {
  box-shadow: 0 0 1px cyan, 0 0 5px cyan, 0 0 10px cyan, 0 0 20px cyan,
    0 0 40px cyan;
  transition: all 0.5s ease-in-out;
}

html{
  scroll-behavior: smooth;
}