<section
class="hero flex-col items-center justify-center"
>
<div class="bg-div border-b border-cyan-300 flex justify-center bg-contain">

    <div class="mx-auto flex justify-center items-start lg:space-y-20 h-[1000px] xs:h-[900px] sm:h-[700px] md:h-[500px] xl:h-[830px] max-w-screen-full sm:max-w-screen-full md:max-w-screen-lg lg:max-w-screen-xl">
        <div class="flex flex-col md:flex-row gap-0 justify-center md:gap-5 items-center w-full bg-transparent py-8 lg:py-20">
            
            <div class="w-full md:w-1/2 px-4 sm:px-12 text-white md:pr-0 lg:pl-20 py-6 md:text-start text-center">
                <h1 class="text-5xl lg:text-6xl xl:text-7xl  pb-4">Info about AI</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur natus repellat,
                    cumque eveniet accusamus omnis. Distinctio, delectus consequatur veniam nam qui, labore
                    saepe cupiditate amet rem repellat corporis repellendus modi!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vitae sequi,
                    quo sint aut ex voluptatem voluptas laborum eveniet iste consequatur laudantium?
                    Nam aperiam quisquam quos fuga explicabo, vitae debitis.
                </p>
            </div>
            <div class="relative w-full md:w-1/2 h-full flex justify-center items-center">
                    <img src="../../assets/images/ai-pitch-black-vitomsvg.png" class="cursor-pointer h-[250px] md:h-[350px] ai-black-vitomsvg">
            </div>
        </div>
    </div>
    

</div>

<!--Next Content-->

<div class="mx-auto max-w-screen-full md:max-w-screen-lg lg:max-w-screen-xl">
    <div class="px-4 sm:px-12 gap-y-8 py-20 flex flex-col md:flex-row justify-between md:gap-x-20 lg:gap-x-40">
        <!-- Buttons -->
        <div class=" li-shadow rounded-xl text-cyan-300 bg-[#01102d] h-[350px] sm:h-[450px] flex flex-col items-center justify-between py-24 sm:py-32 w-full sm:w-11/12 md:w-1/2 lg:w-1/3 mx-auto text-center">
            <div class="text-xl sm:text-2xl xl:text-3xl font-bold">
                <h1>Creation Of AI</h1>
            </div>
            <div class="text-md xs:text-lg sm:text-xl xl:text-2xl font-bold"><a href="#" class="px-8 py-4 rounded-lg hover:border-[#01102d] hover:bg-cyan-300 hover:text-[#01102d] duration-500 border-solid li-shadow text-cyan-300 bg-[#01102d]">Click To See Info</a></div>
        </div>
        <div class="sm:h-[450px] h-[350px] flex flex-col li-shadow items-center rounded-xl justify-between py-24 sm:py-32 w-full  sm:w-11/12 md:w-1/2 lg:w-1/3 mx-auto  text-cyan-300 bg-[#01102d] text-center">
            <div class="text-xl sm:text-2xl xl:text-3xl font-bold">
                <h1>Purpose of AI</h1>
            </div>
            <div class="text-md xs:text-lg sm:text-xl xl:text-2xl font-bold"><a href="#" class="px-8 py-4 rounded-lg hover:border-[#01102d] hover:bg-cyan-300 hover:text-[#01102d] duration-500 border-solid li-shadow text-cyan-300 bg-[#01102d]">Click To See Info</a></div>
        </div>

    </div>
</div>


</section>