<section 
class=" mx-auto max-w-screen-sm sm:max-w-screen-md md:max-w-screen-lg lg:max-w-screen-xl"
>
<!--upper section-->
<div class="w-full flex flex-col md:flex-row justify-between">
    <div class="w-1/2 h-[593.3px] pt-20 flex justify-center flex-col items-center">
        <div class="flex-col flex justify-center items-start space-y-8">
            <p class="text-5xl">
                <strong><h1>წარმოგიდგენთ ხელოვნურ ინტელექტს</h1></strong>
            </p>
            <p class="text-md font-semibold">
                
                    Artificial Intelligence, or AI, offers a fascinating glimpse into the future.
                    It's the enchanting blend of science and creativity that brings science fiction into reality,
                    where machines learn, think, and decide akin to humans. Picture self-driving cars navigating cities,
                    your devices predicting your needs.  It's not just about technology;
                    it's a discovery of human intelligence's essence.
                    AI ushers in a new era where machines transition from mere tools to helpful partners.
                    They unravel complex data, create beautiful art, and solve problems once deemed challenging. 
                    Step into a world where AI enhances the extraordinary without overshadowing human ingenuity.
            </p>
        </div>
    </div>
    <div class="w-1/2">
        <img src="../../assets/photos/ai.png" alt="">
    </div>
</div>



</section>